@media only screen and (max-width: 768px) {
  .hideTab {
    display: none !important;
  }
  .showTab {
    display: flex !important;
  }
  .login-wrapper {
    .login {
      .content {
        .form-wrapper {
          align-items: center !important;
        }
      }
    }
  }
  .main {
    .security {
      .imgs {
        gap: 40px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .hideMob {
    display: none !important;
  }
  .showMob {
    display: flex !important;
  }

  footer {
    .info {
      justify-content: center !important;
      .contact-info {
        text-align: center !important;
        margin-bottom: 2rem;
      }
    }
  }
  .login-wrapper {
    .login {
      .content {
        .form-wrapper {
          .auth-forms {
            margin: 0 !important;
            .steps {
              min-width: 320px;
            }
          }
        }
      }
    }
  }
  .hero-component {
    margin-bottom: 4rem;
    .section {
      justify-content: center !important;
    }
  }
  .main {
    .security {
      .imgs {
        justify-content: center !important;
      }
    }
    .transfer {
      .bill-bg {
        .fam {
          display: none;
        }
        .restaurant {
          top: -120px;
          left: -90px;
        }
        .rent {
          bottom: -131px;
          left: 85px !important;
          right: unset;
          top: unset !important;
        }
        .party {
          display: none;
        }
        .comment {
          &:nth-child(2) {
            top: unset !important;
            right: -3rem !important;
            bottom: -264px;
            img {
              top: -110px;
              right: 40px;
              transform: rotate(-76deg);
            }
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  .nav-wrapper {
    nav {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1320px) {
  .cards {
    .tutorial {
      .lines {
        display: none !important;
      }
      ol {
        li {
          margin-left: 5rem !important;
        }
      }
    }
  }
}
