$font-stack: "Red Hat Display";

$primary:#25EF7D;

$white: #ffffff;
$black: #1f1f1f;

$cloudgrey: #F7F7F6;
$lightgrey: #f0efef;
$grey: #DCDCDC;
$dimgrey: #BEBEBE;

$offwhite: #f6f7fb;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$navHeight: 5rem;

$drift: cubic-bezier(1, 0, 0.6, 1.1);

$brake: cubic-bezier(0, 1, 0.6, 1);
$reversebrake: cubic-bezier(0.6, 1, 0, 1);
