$font-stack: "Red Hat Display", sans-serif;

$primary: #25ef7d;

$white: #eeeeee;
$black: #1f1f1f;

$cloudgrey: #f7f7f6;
$lightgrey: #f0efef;
$grey: #dcdcdc;
$dimgrey: #bebebe;

$offwhite: #f6f7fb;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$navHeight: 5rem;

$drift: cubic-bezier(1, 0, 0.6, 1.1);

$brake: cubic-bezier(0, 1, 0.6, 1);
$reversebrake: cubic-bezier(0.6, 1, 0, 1);
